.event-card {
    width: 200px;
    height: 300px;
    border: 5px solid blueviolet;
    &__data {
        padding: 5px;
        &__category {
            font-weight: bold;
            display: inline;
            font-size: 18px;
        }
        &__address {
            color: darkgray;
            font-size: 18px;
        }
    }
}