h1 {
    width: 100%;
    text-align: center;
}
.filter-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        margin: 20px;
        width: 200px;
    }
}
.filter-actions {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    button:first-child {
        margin-right: auto;
    }
}