<div class="header_container">
    <div class="group1" (click)="navigateTo('events')">
        UF-Events
    </div>
    <div class="group2">
        <button mat-raised-button color="primary" (click)="filterChange()"> Filters </button>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
    </div>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon color="primary">face</mat-icon>
        <span>UserName</span>
    </button>
    <button mat-menu-item (click)="navigateTo('create')">
        <mat-icon color="primary">create</mat-icon>
        <span>Publish Event</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon color="primary">exit_to_app</mat-icon>
        <span>LogOut</span>
    </button>
  </mat-menu>