<div class="login-container">

    <div class="login-container__form" [formGroup]="loginForm">

        <h1>Login Form</h1>

        <mat-form-field appearance="outline" class="ad_form_container__flex__input">

            <mat-label>Email</mat-label>

            <input matInput placeholder="ufevents@ufl.edu" formControlName="email">

        </mat-form-field>

        <mat-form-field appearance="outline" class="ad_form_container__flex__input">

            <mat-label>Password</mat-label>

            <input matInput formControlName="password" type="password">

        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>

    </div>

</div>